<div class="row">
  <div class="col-md-6 px-5 qoute">
    <!-- <img class="w-100" src="../../../assets/qoutes.png" alt=""> -->
    <h2 class="my-2">Random Qoute</h2>
    <p class="my-2 ">
      <i class="fa-solid fa-quote-left mx-3 mb-2"></i>
      {{random?.slip.advice}}
      <i class="fa-solid fa-quote-right mx-3 mb-2"></i>
    </p>
    <p class="alert alert-success my-3">click to change Qoute</p>
    <button (click)="getRandom()" class="btn btn-warning ">Another Qoute</button>
    </div>
</div>
