<app-header></app-header>
<div id="home" class="landing container row m-auto my-2 py-3 ">
  <div  class="col-md-6">
    <img class="w-100" src="../../assets/lawyer.png" alt="">
  </div>
  <div class="col-md-6 d-flex flex-column justify-content-center">
    <h2 class="my-3">Qoutes</h2>
    <p class=""><i class="fa-solid fa-quote-left mx-3 mb-2"></i>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo odio possimus temporibus eligendi, nulla fugit iure dicta consectetur incidunt. Quam explicabo alias non temporibus voluptatum beatae! Hic illo nam adipisci!
      <i class="fa-solid fa-quote-right mx-3 "></i>
    </p>
    <button class="btn btn-warning my-3">Read more</button>
  </div>
</div>
<div id="random" class="row  vh-75 w-100 justify-content-center align-items-center my-2">
  <div  class="col-md-9 py-5 my-3  ">
    <app-qoutes></app-qoutes>
  </div>
</div>
<div class="row w-100 justify-content-center my-2">
  <div id="advice" class="col-md-9 my-3">
    <app-advice-id></app-advice-id>
  </div>
</div>
<div class="row w-100 justify-content-center my-2">
  <div id="about" class="col-md-9 my-3">
    <app-about></app-about>
  </div>
</div>
<app-footer></app-footer>
